<div class="row">
    <div class="span9">
        <hr />
        <p>This is a demo website showing some of the cool features about AngularJS.</p>
        <p>AngularJS is a powerful JavaScript MVC framework that are now in trend. It can be used to create single page app
            (SPA) with its powerful routing features.</p>
    </div>
    <div class="span3">
        <div class="well">
            <h4>About the author</h4>
            <p>What can I say about me ? Honest, kind, loyal :)</p>
        </div>
    </div>
</div>


