<div class="row">
    <div class="span12">
        <div class="well">
            <h2>Malaysian pick up artist</h2>

            <p>I call myself Shackle, please pardon me for my bad english. I prefer message that is short and straight
                to the point.</p>

            <p>There are a lot of online dating guide and pick up resources but most of them are for western countries
                whereby culture there are
                very different from Malaysia. So I decided to write a short guide based on my personal experience over
                the past 10 years.</p>

            <p>I started to pick up girls or sarge around 2 years ago. The success rate to get a girl friend is about
                1/1000. No jokes, back then
                I suffered a lot of failures and I keep on thinking what's wrong with me.. hell..</p>

            <p>I guess everyone has to been through tough times to learn something new. For over past 2 years I began to
                understand
                girl better, although I'm not saying I'm a pro. </p>

            <p>I have to tell you to forget everything about girl and start to learn again.</p>

            <p>The very first step is to identify yourself. Take your personality, physical appearance and financial
                capability into
                account.</p>
        </div>
    </div>

    <div class="span12">
        <div class="span12">
            <h2>Change yourself</h2>
        </div>

        <div class="row">
            <div class="span6">
                <div class="well">
                    <h4>Physical appearance</h4>

                    <p>What's make you different from others ? A hot girl usually approach by many guys. The first thing
                        she notice you is your look. </p>
                </div>
            </div>
            <div class="span6">
                <div class="well">
                    <h4>Mindset</h4>
                    <p>Take every girl you meet as a lesson. Always remember there is no failure, only lesson.</p>
                </div>
            </div>
        </div>
    </div>
</div>
