<div class="row">
    <div class="well">
        <h3>Nature of a guy</h3>

        <p>Most of us are easily fooled by charming smile and beauty of look.</p>

        <p>Do not have a tendency to treat a girl like a princess. I'm not saying to disrespect a girl or anythint like
            that.</p>

        <p>When a guy treat a girl too good, he is easily get friendzoned. The chances are you either lose the girl or
            forever
            being treated like "just friend". Girl doesn't put you into miserable friendzone, yourself do.</p>

        <p>Have a little respect for yourself and start to treat her like a normal person instead of glorify her. This
            is the best
            way to create attraction as girl typicaly lose interest to guy that are too easily to get.</p>

        <p>Take a magic show for instance, you will wonder how it works and it feels so fascinating, but soon lose
            interest once the trick behind is revealed.</p>

        <p>Able to defeat other is called strong, able to conquer own mind is called mighty.</p>

        <p>It is said that if you know your enemies and know yourself, you will not be imperiled in a hundred battles;
            if you do not know your enemies but do know yourself, you will win one and lose one; if you do not know your
            enemies nor yourself, you will be imperiled in every single battle. <i>Sun Tzu the Art of War</i></p>
    </div>
</div>