<div class="row">
    <div class="span6">
        <h3>Get ready</h3>
        <accordion close-others="">
            <accordion-group heading="Smile">
                Nobody like a frown face. Smile even though you're not happy. Smile catches girl off guard better than
                having a serious look
            </accordion-group>
            <accordion-group heading="Well groomed">
                Maintain good hygiene and dress clean.
            </accordion-group>
            <accordion-group heading="Respect yourself">
                Do not ever think you don't deserve to be with a girl. Be cool, not cocky or feeling pity about
                yourself.
            </accordion-group>
        </accordion>
    </div>
    <div class="span6">
        <h3>Cautions !</h3>
        <accordion close-others="">
            <accordion-group heading="Eye Contact">
                Maintain eye contact with her. Do not look below the head or let her notice you staring at her boobs.
            </accordion-group>
            <accordion-group heading="Do not be salesman">
                To keep conversation going sometimes you have to ask questions as most of the girls are in passive mode.
                If you ask too much, she will lose interest in you and feel like you doing a survey. Do not expose your
                deep
                interest in that way. Stop asking question if you find yourself asking three consecutive
                questions. She had
                to do her job to keep the talking on too.
            </accordion-group>
        </accordion>
    </div>
</div>
